@import url("https://fonts.googleapis.com/css?family=Oswald:300,700|Roboto");
.grid-row {
  margin-left: -10px;
  margin-right: -10px; }
  .grid-row:after {
    display: table;
    content: '';
    clear: both; }
  .grid-row > [class^="col-"], .grid-row > [class*=" col-"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
    width: 100%; }
  .grid-row.padd-0 {
    margin-left: 0px;
    margin-right: 0px; }
    .grid-row.padd-0 > [class^="col-"], .grid-row.padd-0 > [class*=" col-"] {
      padding-left: 0px;
      padding-right: 0px; }
  .grid-row.padd-2 {
    margin-left: -2px;
    margin-right: -2px; }
    .grid-row.padd-2 > [class^="col-"], .grid-row.padd-2 > [class*=" col-"] {
      padding-left: 2px;
      padding-right: 2px; }
  .grid-row.padd-3 {
    margin-left: -3px;
    margin-right: -3px; }
    .grid-row.padd-3 > [class^="col-"], .grid-row.padd-3 > [class*=" col-"] {
      padding-left: 3px;
      padding-right: 3px; }
  .grid-row.padd-5 {
    margin-left: -5px;
    margin-right: -5px; }
    .grid-row.padd-5 > [class^="col-"], .grid-row.padd-5 > [class*=" col-"] {
      padding-left: 5px;
      padding-right: 5px; }
  .grid-row.padd-10 {
    margin-left: -10px;
    margin-right: -10px; }
    .grid-row.padd-10 > [class^="col-"], .grid-row.padd-10 > [class*=" col-"] {
      padding-left: 10px;
      padding-right: 10px; }
  .grid-row.padd-15 {
    margin-left: -15px;
    margin-right: -15px; }
    .grid-row.padd-15 > [class^="col-"], .grid-row.padd-15 > [class*=" col-"] {
      padding-left: 15px;
      padding-right: 15px; }
  .grid-row.padd-20 {
    margin-left: -20px;
    margin-right: -20px; }
    .grid-row.padd-20 > [class^="col-"], .grid-row.padd-20 > [class*=" col-"] {
      padding-left: 20px;
      padding-right: 20px; }
  .grid-row.padd-25 {
    margin-left: -25px;
    margin-right: -25px; }
    .grid-row.padd-25 > [class^="col-"], .grid-row.padd-25 > [class*=" col-"] {
      padding-left: 25px;
      padding-right: 25px; }
  .grid-row.padd-30 {
    margin-left: -30px;
    margin-right: -30px; }
    .grid-row.padd-30 > [class^="col-"], .grid-row.padd-30 > [class*=" col-"] {
      padding-left: 30px;
      padding-right: 30px; }
  .grid-row.padd-40 {
    margin-left: -40px;
    margin-right: -40px; }
    .grid-row.padd-40 > [class^="col-"], .grid-row.padd-40 > [class*=" col-"] {
      padding-left: 40px;
      padding-right: 40px; }
  .grid-row.padd-50 {
    margin-left: -50px;
    margin-right: -50px; }
    .grid-row.padd-50 > [class^="col-"], .grid-row.padd-50 > [class*=" col-"] {
      padding-left: 50px;
      padding-right: 50px; }
  .grid-row.padd-70 {
    margin-left: -70px;
    margin-right: -70px; }
    .grid-row.padd-70 > [class^="col-"], .grid-row.padd-70 > [class*=" col-"] {
      padding-left: 70px;
      padding-right: 70px; }
  .grid-row.padd-100 {
    margin-left: -100px;
    margin-right: -100px; }
    .grid-row.padd-100 > [class^="col-"], .grid-row.padd-100 > [class*=" col-"] {
      padding-left: 100px;
      padding-right: 100px; }
  @media screen and (min-width: 1px) {
    .grid-row .col-xs-third {
      width: 33.333333%; }
    .grid-row .col-xs-0 {
      width: 0%; }
    .grid-row .offset-xs-0 {
      margin-left: 0%; }
    .grid-row .push-xs-0 {
      left: 0%; }
    .grid-row .pull-xs-0 {
      right: 0%; }
    .grid-row .col-xs-10 {
      width: 10%; }
    .grid-row .offset-xs-10 {
      margin-left: 10%; }
    .grid-row .push-xs-10 {
      left: 10%; }
    .grid-row .pull-xs-10 {
      right: 10%; }
    .grid-row .col-xs-15 {
      width: 15%; }
    .grid-row .offset-xs-15 {
      margin-left: 15%; }
    .grid-row .push-xs-15 {
      left: 15%; }
    .grid-row .pull-xs-15 {
      right: 15%; }
    .grid-row .col-xs-20 {
      width: 20%; }
    .grid-row .offset-xs-20 {
      margin-left: 20%; }
    .grid-row .push-xs-20 {
      left: 20%; }
    .grid-row .pull-xs-20 {
      right: 20%; }
    .grid-row .col-xs-25 {
      width: 25%; }
    .grid-row .offset-xs-25 {
      margin-left: 25%; }
    .grid-row .push-xs-25 {
      left: 25%; }
    .grid-row .pull-xs-25 {
      right: 25%; }
    .grid-row .col-xs-30 {
      width: 30%; }
    .grid-row .offset-xs-30 {
      margin-left: 30%; }
    .grid-row .push-xs-30 {
      left: 30%; }
    .grid-row .pull-xs-30 {
      right: 30%; }
    .grid-row .col-xs-33 {
      width: 33%; }
    .grid-row .offset-xs-33 {
      margin-left: 33%; }
    .grid-row .push-xs-33 {
      left: 33%; }
    .grid-row .pull-xs-33 {
      right: 33%; }
    .grid-row .col-xs-40 {
      width: 40%; }
    .grid-row .offset-xs-40 {
      margin-left: 40%; }
    .grid-row .push-xs-40 {
      left: 40%; }
    .grid-row .pull-xs-40 {
      right: 40%; }
    .grid-row .col-xs-50 {
      width: 50%; }
    .grid-row .offset-xs-50 {
      margin-left: 50%; }
    .grid-row .push-xs-50 {
      left: 50%; }
    .grid-row .pull-xs-50 {
      right: 50%; }
    .grid-row .col-xs-60 {
      width: 60%; }
    .grid-row .offset-xs-60 {
      margin-left: 60%; }
    .grid-row .push-xs-60 {
      left: 60%; }
    .grid-row .pull-xs-60 {
      right: 60%; }
    .grid-row .col-xs-67 {
      width: 67%; }
    .grid-row .offset-xs-67 {
      margin-left: 67%; }
    .grid-row .push-xs-67 {
      left: 67%; }
    .grid-row .pull-xs-67 {
      right: 67%; }
    .grid-row .col-xs-75 {
      width: 75%; }
    .grid-row .offset-xs-75 {
      margin-left: 75%; }
    .grid-row .push-xs-75 {
      left: 75%; }
    .grid-row .pull-xs-75 {
      right: 75%; } }
  @media screen and (min-width: 481px) {
    .grid-row .col-sm-third {
      width: 33.333333%; }
    .grid-row .col-sm-0 {
      width: 0%; }
    .grid-row .offset-sm-0 {
      margin-left: 0%; }
    .grid-row .push-sm-0 {
      left: 0%; }
    .grid-row .pull-sm-0 {
      right: 0%; }
    .grid-row .col-sm-10 {
      width: 10%; }
    .grid-row .offset-sm-10 {
      margin-left: 10%; }
    .grid-row .push-sm-10 {
      left: 10%; }
    .grid-row .pull-sm-10 {
      right: 10%; }
    .grid-row .col-sm-15 {
      width: 15%; }
    .grid-row .offset-sm-15 {
      margin-left: 15%; }
    .grid-row .push-sm-15 {
      left: 15%; }
    .grid-row .pull-sm-15 {
      right: 15%; }
    .grid-row .col-sm-20 {
      width: 20%; }
    .grid-row .offset-sm-20 {
      margin-left: 20%; }
    .grid-row .push-sm-20 {
      left: 20%; }
    .grid-row .pull-sm-20 {
      right: 20%; }
    .grid-row .col-sm-25 {
      width: 25%; }
    .grid-row .offset-sm-25 {
      margin-left: 25%; }
    .grid-row .push-sm-25 {
      left: 25%; }
    .grid-row .pull-sm-25 {
      right: 25%; }
    .grid-row .col-sm-30 {
      width: 30%; }
    .grid-row .offset-sm-30 {
      margin-left: 30%; }
    .grid-row .push-sm-30 {
      left: 30%; }
    .grid-row .pull-sm-30 {
      right: 30%; }
    .grid-row .col-sm-33 {
      width: 33%; }
    .grid-row .offset-sm-33 {
      margin-left: 33%; }
    .grid-row .push-sm-33 {
      left: 33%; }
    .grid-row .pull-sm-33 {
      right: 33%; }
    .grid-row .col-sm-40 {
      width: 40%; }
    .grid-row .offset-sm-40 {
      margin-left: 40%; }
    .grid-row .push-sm-40 {
      left: 40%; }
    .grid-row .pull-sm-40 {
      right: 40%; }
    .grid-row .col-sm-50 {
      width: 50%; }
    .grid-row .offset-sm-50 {
      margin-left: 50%; }
    .grid-row .push-sm-50 {
      left: 50%; }
    .grid-row .pull-sm-50 {
      right: 50%; }
    .grid-row .col-sm-60 {
      width: 60%; }
    .grid-row .offset-sm-60 {
      margin-left: 60%; }
    .grid-row .push-sm-60 {
      left: 60%; }
    .grid-row .pull-sm-60 {
      right: 60%; }
    .grid-row .col-sm-67 {
      width: 67%; }
    .grid-row .offset-sm-67 {
      margin-left: 67%; }
    .grid-row .push-sm-67 {
      left: 67%; }
    .grid-row .pull-sm-67 {
      right: 67%; }
    .grid-row .col-sm-75 {
      width: 75%; }
    .grid-row .offset-sm-75 {
      margin-left: 75%; }
    .grid-row .push-sm-75 {
      left: 75%; }
    .grid-row .pull-sm-75 {
      right: 75%; } }
  @media screen and (min-width: 641px) {
    .grid-row .col-md-third {
      width: 33.333333%; }
    .grid-row .col-md-0 {
      width: 0%; }
    .grid-row .offset-md-0 {
      margin-left: 0%; }
    .grid-row .push-md-0 {
      left: 0%; }
    .grid-row .pull-md-0 {
      right: 0%; }
    .grid-row .col-md-10 {
      width: 10%; }
    .grid-row .offset-md-10 {
      margin-left: 10%; }
    .grid-row .push-md-10 {
      left: 10%; }
    .grid-row .pull-md-10 {
      right: 10%; }
    .grid-row .col-md-15 {
      width: 15%; }
    .grid-row .offset-md-15 {
      margin-left: 15%; }
    .grid-row .push-md-15 {
      left: 15%; }
    .grid-row .pull-md-15 {
      right: 15%; }
    .grid-row .col-md-20 {
      width: 20%; }
    .grid-row .offset-md-20 {
      margin-left: 20%; }
    .grid-row .push-md-20 {
      left: 20%; }
    .grid-row .pull-md-20 {
      right: 20%; }
    .grid-row .col-md-25 {
      width: 25%; }
    .grid-row .offset-md-25 {
      margin-left: 25%; }
    .grid-row .push-md-25 {
      left: 25%; }
    .grid-row .pull-md-25 {
      right: 25%; }
    .grid-row .col-md-30 {
      width: 30%; }
    .grid-row .offset-md-30 {
      margin-left: 30%; }
    .grid-row .push-md-30 {
      left: 30%; }
    .grid-row .pull-md-30 {
      right: 30%; }
    .grid-row .col-md-33 {
      width: 33%; }
    .grid-row .offset-md-33 {
      margin-left: 33%; }
    .grid-row .push-md-33 {
      left: 33%; }
    .grid-row .pull-md-33 {
      right: 33%; }
    .grid-row .col-md-40 {
      width: 40%; }
    .grid-row .offset-md-40 {
      margin-left: 40%; }
    .grid-row .push-md-40 {
      left: 40%; }
    .grid-row .pull-md-40 {
      right: 40%; }
    .grid-row .col-md-50 {
      width: 50%; }
    .grid-row .offset-md-50 {
      margin-left: 50%; }
    .grid-row .push-md-50 {
      left: 50%; }
    .grid-row .pull-md-50 {
      right: 50%; }
    .grid-row .col-md-60 {
      width: 60%; }
    .grid-row .offset-md-60 {
      margin-left: 60%; }
    .grid-row .push-md-60 {
      left: 60%; }
    .grid-row .pull-md-60 {
      right: 60%; }
    .grid-row .col-md-67 {
      width: 67%; }
    .grid-row .offset-md-67 {
      margin-left: 67%; }
    .grid-row .push-md-67 {
      left: 67%; }
    .grid-row .pull-md-67 {
      right: 67%; }
    .grid-row .col-md-75 {
      width: 75%; }
    .grid-row .offset-md-75 {
      margin-left: 75%; }
    .grid-row .push-md-75 {
      left: 75%; }
    .grid-row .pull-md-75 {
      right: 75%; } }
  @media screen and (min-width: 769px) {
    .grid-row .col-lg-third {
      width: 33.333333%; }
    .grid-row .col-lg-0 {
      width: 0%; }
    .grid-row .offset-lg-0 {
      margin-left: 0%; }
    .grid-row .push-lg-0 {
      left: 0%; }
    .grid-row .pull-lg-0 {
      right: 0%; }
    .grid-row .col-lg-10 {
      width: 10%; }
    .grid-row .offset-lg-10 {
      margin-left: 10%; }
    .grid-row .push-lg-10 {
      left: 10%; }
    .grid-row .pull-lg-10 {
      right: 10%; }
    .grid-row .col-lg-15 {
      width: 15%; }
    .grid-row .offset-lg-15 {
      margin-left: 15%; }
    .grid-row .push-lg-15 {
      left: 15%; }
    .grid-row .pull-lg-15 {
      right: 15%; }
    .grid-row .col-lg-20 {
      width: 20%; }
    .grid-row .offset-lg-20 {
      margin-left: 20%; }
    .grid-row .push-lg-20 {
      left: 20%; }
    .grid-row .pull-lg-20 {
      right: 20%; }
    .grid-row .col-lg-25 {
      width: 25%; }
    .grid-row .offset-lg-25 {
      margin-left: 25%; }
    .grid-row .push-lg-25 {
      left: 25%; }
    .grid-row .pull-lg-25 {
      right: 25%; }
    .grid-row .col-lg-30 {
      width: 30%; }
    .grid-row .offset-lg-30 {
      margin-left: 30%; }
    .grid-row .push-lg-30 {
      left: 30%; }
    .grid-row .pull-lg-30 {
      right: 30%; }
    .grid-row .col-lg-33 {
      width: 33%; }
    .grid-row .offset-lg-33 {
      margin-left: 33%; }
    .grid-row .push-lg-33 {
      left: 33%; }
    .grid-row .pull-lg-33 {
      right: 33%; }
    .grid-row .col-lg-40 {
      width: 40%; }
    .grid-row .offset-lg-40 {
      margin-left: 40%; }
    .grid-row .push-lg-40 {
      left: 40%; }
    .grid-row .pull-lg-40 {
      right: 40%; }
    .grid-row .col-lg-50 {
      width: 50%; }
    .grid-row .offset-lg-50 {
      margin-left: 50%; }
    .grid-row .push-lg-50 {
      left: 50%; }
    .grid-row .pull-lg-50 {
      right: 50%; }
    .grid-row .col-lg-60 {
      width: 60%; }
    .grid-row .offset-lg-60 {
      margin-left: 60%; }
    .grid-row .push-lg-60 {
      left: 60%; }
    .grid-row .pull-lg-60 {
      right: 60%; }
    .grid-row .col-lg-67 {
      width: 67%; }
    .grid-row .offset-lg-67 {
      margin-left: 67%; }
    .grid-row .push-lg-67 {
      left: 67%; }
    .grid-row .pull-lg-67 {
      right: 67%; }
    .grid-row .col-lg-75 {
      width: 75%; }
    .grid-row .offset-lg-75 {
      margin-left: 75%; }
    .grid-row .push-lg-75 {
      left: 75%; }
    .grid-row .pull-lg-75 {
      right: 75%; } }

@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon.eot?1j772m");
  src: url("../../assets/fonts/icomoon.eot?1j772m#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?1j772m") format("truetype"), url("../../assets/fonts/icomoon.woff?1j772m") format("woff"), url("../../assets/fonts/icomoon.svg?1j772m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

* {
  margin: 0;
  padding: 0;
  max-width: 100%; }

body {
  overflow-x: hidden;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636; }

body * {
  text-align: center; }

main, section, footer {
  max-width: 1200px;
  margin: 0 auto; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color 200ms; }

h1, h2, h3, h6 {
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase; }
  h1.blue, h2.blue, h3.blue, h6.blue {
    color: #0d9bc1; }
  h1.green, h2.green, h3.green, h6.green {
    color: #7bbd32; }

h1 {
  font-size: 18px; }

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 21px; }

h6 {
  font-size: 10px; }

p {
  padding-bottom: 10px; }

main {
  padding-top: 47px; }

section {
  box-sizing: border-box;
  padding: 20px; }
  section.narrow > * {
    max-width: 480px;
    margin: 0 auto; }
  section.narrow-mobile > * {
    max-width: 280px;
    margin: 0 auto; }

.button {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 150ms; }
  .button:hover {
    filter: contrast(120%) brightness(102%); }
  .button.default, .button.inverted {
    letter-spacing: 4px;
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .button.default:hover, .button.inverted:hover {
      color: #000000;
      background-color: #80b041;
      border-color: #80b041; }
  .button.inverted {
    color: #main_font;
    border-color: #363636; }
  .button.bottom-spacing {
    margin-bottom: 10px; }
  .button.buy {
    color: #000000;
    background-color: #80b041;
    border-color: #80b041;
    border-radius: 50px;
    width: 168px;
    height: 44px;
    padding: 0;
    font-size: 11px; }
    .button.buy:hover {
      background-color: #ffffff;
      color: #main_font;
      border-color: #363636; }

.hidden-mobile {
  display: none; }

@media screen and (min-width: 640px) {
  .hidden-mobile {
    display: block; }
  .hidden-desktop {
    display: none; }
  h1 {
    font-size: 4vw;
    line-height: 4.5vw; }
  h2 {
    font-size: 2.2vw; }
  h6 {
    font-size: 1.2vw; }
  section {
    padding: 3vw; }
    section.narrow-mobile > * {
      max-width: 100%; }
    section.narrow-desktop > * {
      max-width: 320px;
      margin: 0 auto; }
  .button.buy {
    width: 27vw;
    height: 7vw; } }

@media screen and (min-width: 768px) {
  main {
    padding-top: 7.2vw; }
  h3 {
    font-size: 2.35vw;
    line-height: 2.7vw; }
  ul {
    font-size: 1.56vw; }
  .button.default, .button.inverted {
    min-width: 200px;
    font-size: 1.6vw; } }

@media screen and (min-width: 1000px) {
  main {
    padding-top: 72px; }
  h1 {
    font-size: 40px;
    line-height: 45px; }
  h2 {
    font-size: 22px; }
  h6 {
    font-size: 12px; }
  section {
    padding: 30px; }
  ul {
    font-size: 16px; }
  .button.default, .button.inverted {
    font-size: 16px; }
  .button.buy {
    width: 270px;
    height: 70px; } }

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 28px;
    line-height: 32px; } }

header {
  background: #000000;
  width: 100%;
  height: 47px;
  position: fixed;
  z-index: 10; }
  header .logo {
    background-image: url("../../assets/img/logo.jpg");
    transform: translateX(-50%);
    top: 10px;
    display: block;
    position: absolute;
    left: 50%;
    width: 166px;
    height: 27px; }
  header .links {
    width: 75vw;
    max-width: 900px;
    margin: 0 auto;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    height: 100%;
    transform: translateX(30px);
    position: absolute;
    right: 20px;
    display: none; }
    header .links > a, header .links .link-container {
      float: left;
      display: table;
      width: 25vw;
      max-width: 300px;
      height: 100%;
      box-sizing: border-box;
      transition: background-color 200ms;
      cursor: pointer; }
      header .links > a .link, header .links .link-container .link {
        letter-spacing: 3px;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle; }
      header .links > a.active, header .links .link-container.active {
        border-top: 8px solid #80b041;
        color: #80b041; }
      header .links > a:not(.active):hover, header .links .link-container:not(.active):hover {
        color: #000000;
        background-color: #80b041; }
  header .hamburger {
    width: 36px;
    height: 28px;
    position: absolute;
    right: 0;
    padding: 10px 14px 9px;
    transition: all 200ms;
    z-index: -1; }
    header .hamburger .line {
      margin: 4px;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      background-color: #ffffff;
      transition: all 200ms; }
  header ul.dropdown {
    position: absolute;
    opacity: 0;
    top: 7.2vw;
    transition: opacity 300ms;
    list-style: none;
    pointer-events: none;
    width: 25vw;
    max-width: 300px;
    transform: translateX(-100%); }
    header ul.dropdown li {
      z-index: -10;
      background-color: #000000;
      color: white;
      transition: background-color 200ms; }
      header ul.dropdown li:hover {
        background-color: #80b041; }
  header ul.menu {
    position: absolute;
    width: 276px;
    right: 0;
    top: 47px;
    list-style: none;
    background-color: #000000;
    transform: translateX(100%);
    transition: all 300ms;
    z-index: -1;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  header ul li {
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 3px;
    border-top: 1px solid #ffffff;
    cursor: pointer; }
    header ul li:first-child {
      border-top: none; }
    header ul li a {
      box-sizing: border-box;
      width: 100%;
      height: 100%; }
    header ul li.active {
      color: #80b041;
      border-top: 6px solid #80b041; }
  header.active .hamburger {
    transform: translateX(-8px); }
    header.active .hamburger .line:nth-child(1) {
      transform: rotate(-45deg) translateY(11px); }
    header.active .hamburger .line:nth-child(2) {
      background-color: transparent; }
    header.active .hamburger .line:nth-child(3) {
      transform: rotate(45deg) translateY(-11px); }
  header.active ul.menu {
    transform: translateX(0); }
  @media screen and (min-width: 768px) {
    header {
      height: 7.2vw; }
      header ul.menu {
        display: none; }
      header .links {
        display: inline-block; }
      header .button {
        background-image: url("../img/desktop/amazon-button-alt.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 20vw;
        height: 6.4vw;
        max-width: 200px;
        max-height: 64px;
        display: block;
        margin: 0 auto;
        right: 0;
        top: 8px;
        transition: filter 300ms;
        position: absolute;
        z-index: 10; }
        header .button:hover {
          filter: contrast(125%) brightness(123%);
          opacity: 0.9; }
      header .has-dropdown:hover ul.dropdown {
        pointer-events: all;
        opacity: 1; }
        header .has-dropdown:hover ul.dropdown li:first-child {
          border-top: 1px solid #ffffff; }
      header .logo {
        background-image: url("../../assets/img/desktop/logo.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 23.9vw;
        height: 3.7vw;
        top: 1.8vw;
        transform: translateX(0);
        left: 1.5vw; }
      header .hamburger {
        display: none; } }
  @media screen and (min-width: 1000px) {
    header {
      height: 72px; }
      header .logo {
        background-image: url("../../assets/img/desktop/logo.jpg");
        width: 239px;
        height: 37px;
        top: 18px;
        transform: translateX(0);
        left: 15px; }
      header ul.dropdown {
        top: 72px; } }
  @media screen and (min-width: 1200px) {
    header .logo {
      transform: translateX(0);
      left: calc(((100vw - 1200px) / 2) + 15px); }
    header .button {
      right: calc((100vw - 1200px) / 2); }
    header .links {
      right: calc(((100vw - 1200px) / 2) + 30px); } }

section.hero {
  background-image: url("../../assets/img/hero-background-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  height: 71vw;
  max-height: 620px; }
  section.hero .hero-text {
    padding-top: 5vw;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px; }
    section.hero .hero-text h1 {
      padding-bottom: 0;
      font-size: 4.5vw;
      line-height: 5vw; }
    section.hero .hero-text .sub {
      font-size: 3vw; }
  @media screen and (min-width: 640px) {
    section.hero {
      background-image: url("../img/desktop/hero.jpg");
      height: 52vw; }
      section.hero .hero-text {
        padding-top: 4.5vw; }
        section.hero .hero-text h1 {
          padding-bottom: 0;
          font-size: 3.5vw;
          line-height: 4vw; }
        section.hero .hero-text .sub {
          font-size: 2vw; } }
  @media screen and (min-width: 1200px) {
    section.hero .hero-text {
      padding-top: 55px; }
      section.hero .hero-text h1 {
        font-size: 40px;
        line-height: 45px; }
      section.hero .hero-text .sub {
        font-size: 18px; } }
  section.hero.sub-page {
    display: table;
    width: 100%; }
    section.hero.sub-page .hero-text {
      padding-top: 0;
      display: table-cell;
      vertical-align: middle; }
      section.hero.sub-page .hero-text h1 {
        font-size: 10vw;
        letter-spacing: 2vw; }
    section.hero.sub-page.flavor {
      background-size: cover;
      background-image: url("../img/pages/flavor/hero-background.jpg"); }
    section.hero.sub-page.contact-us {
      background-size: cover;
      background-image: url("../img/pages/contact-us/hero-background.jpg"); }
    @media screen and (min-width: 640px) {
      section.hero.sub-page {
        background-size: contain;
        height: 28vw;
        max-height: 336px; }
        section.hero.sub-page.flavor {
          background-image: url("../img/pages/flavor/desktop/hero-background.jpg"); }
        section.hero.sub-page.contact-us {
          background-image: url("../img/pages/contact-us/desktop/hero-background.jpg"); }
        section.hero.sub-page .hero-text h1 {
          font-size: 3.3vw;
          letter-spacing: 1.5vw; } }
    @media screen and (min-width: 1200px) {
      section.hero.sub-page .hero-text h1 {
        font-size: 40px; } }

section.sub-hero {
  padding: 20px; }
  section.sub-hero .icon {
    margin: 10px auto 5px;
    width: 39px;
    height: 39px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  section.sub-hero .gluten-free {
    background-image: url("../../assets/img/gluten-free.png"); }
  section.sub-hero .non-gmo {
    background-image: url("../../assets/img/non-gmo.png"); }
  section.sub-hero .nothing-artificial {
    background-image: url("../../assets/img/nothing-artificial.png"); }
  section.sub-hero .sugar-free {
    background-image: url("../../assets/img/sugar-free.png"); }
  @media screen and (min-width: 640px) {
    section.sub-hero {
      padding: 3vw 12vw; }
      section.sub-hero .grid-row {
        width: 90%;
        margin: 0 auto;
        padding-top: 20px; } }
  @media screen and (min-width: 1000px) {
    section.sub-hero {
      padding: 50px 140px; } }

section.flavors {
  padding: 30px 0;
  background-image: url("../img/desktop/flavors-back.jpg");
  background-size: 18px 16px;
  background-repeat: repeat; }
  section.flavors .button {
    background-image: url("../../assets/img/learn-more.jpg");
    background-size: contain;
    width: 132px;
    height: 25px; }
  section.flavors .flavor {
    display: block;
    width: 204px;
    height: 99px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    section.flavors .flavor.cukiwi {
      background-image: url("../../assets/img/flavor-cukiwi.jpg"); }
    section.flavors .flavor.kalepine {
      background-image: url("../../assets/img/flavor-kalepine.jpg"); }
  section.flavors > div {
    padding-bottom: 15px; }
    section.flavors > div > div {
      padding: 5px 0; }
  @media screen and (min-width: 768px) {
    section.flavors {
      background-size: 21px 18px;
      padding: 30px 0 0; }
      section.flavors h2 {
        transform: translateY(30px); }
      section.flavors .button {
        background-image: url("../../assets/img/desktop/learn-more.png");
        transform: translateY(-11.25vw);
        width: 21.5vw;
        height: 4.7vw; }
      section.flavors .flavor {
        width: 32vw;
        height: 15vw; }
        section.flavors .flavor.cukiwi {
          background-image: url("../img/desktop/flavor-cukiwi.jpg");
          margin-right: 12vw; }
        section.flavors .flavor.kalepine {
          background-image: url("../img/desktop/flavor-kalepine.jpg");
          margin-left: 12vw; } }
  @media screen and (min-width: 1200px) {
    section.flavors .button {
      transform: translateY(-125px);
      width: 250px;
      height: 55px; }
    section.flavors .flavor {
      width: 340px;
      height: 170px; }
      section.flavors .flavor.cukiwi {
        margin-right: 180px; }
      section.flavors .flavor.kalepine {
        margin-left: 180px; } }

section.table .the-table {
  background-image: url("../../assets/img/table.png");
  width: 100%;
  height: calc(50vw - 40px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 272px;
  max-width: 554px;
  margin: 0 auto; }

@media screen and (min-width: 640px) {
  section.table .the-table {
    height: calc(50vw - 179px);
    background-image: url("../../assets/img/desktop/table.png");
    max-width: 904px; } }

section.how-use {
  padding-bottom: 0; }
  section.how-use .number {
    width: 22px;
    padding: 12px;
    border-radius: 100%;
    margin: 0 auto 20px; }
    section.how-use .number.yellow {
      background-color: #eeff00; }
    section.how-use .number.green1 {
      background-color: #70f700; }
    section.how-use .number.green2 {
      background-color: #00eb56; }
    section.how-use .number.blue {
      background-color: #00e2ef; }
  section.how-use [class^="step-"], section.how-use [class*=" step-"] {
    display: block;
    margin: 0 auto 20px;
    height: 84px;
    width: 101px;
    background-repeat: no-repeat;
    background-position: contain;
    background-position: center; }
  section.how-use .step-1 {
    background-image: url("../../assets/img/how-use-1.png"); }
  section.how-use .step-2 {
    background-image: url("../../assets/img/how-use-2.png"); }
  section.how-use .step-3 {
    background-image: url("../../assets/img/how-use-3.png"); }
  section.how-use .step-4 {
    background-image: url("../../assets/img/how-use-4.png"); }
  section.how-use p {
    margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    section.how-use [class^="step-"], section.how-use [class*=" step-"] {
      width: 142px;
      height: 117px; }
    section.how-use .step-1 {
      background-image: url("../../assets/img/desktop/how-use-1.jpg"); }
    section.how-use .step-2 {
      background-image: url("../../assets/img/desktop/how-use-2.jpg"); }
    section.how-use .step-3 {
      background-image: url("../../assets/img/desktop/how-use-3.jpg"); }
    section.how-use .step-4 {
      background-image: url("../../assets/img/desktop/how-use-4.jpg"); } }

section.contact-us {
  padding: 10px 0; }
  section.contact-us .button {
    background-image: url("../../assets/img/contact-us.jpg");
    width: 132px;
    height: 26px; }
  @media screen and (min-width: 768px) {
    section.contact-us .button {
      background-image: url("../../assets/img/desktop/contact-us.png");
      background-size: contain;
      width: 21.5vw;
      height: 4.7vw; } }
  @media screen and (min-width: 1000px) {
    section.contact-us .button {
      width: 250px;
      height: 55px; } }

footer {
  color: #ffffff;
  height: 54px;
  width: 100vw;
  display: block;
  background-color: #000000; }
  footer .social-icons {
    padding-top: 12px;
    width: 120px;
    margin: 0 auto; }
    footer .social-icons a {
      transition: all 200ms; }
      footer .social-icons a:hover.icon-facebook {
        color: #3b5998; }
      footer .social-icons a:hover.icon-twitter {
        color: #00aced; }
      footer .social-icons a:hover.icon-instagram {
        color: #bc2a8d; }
  footer .copyright {
    margin-top: 10px;
    font-weight: 100;
    font-size: 10px; }
  @media screen and (min-width: 640px) {
    footer {
      height: 100px; }
      footer .social-icons {
        padding-top: 30px;
        width: 200px;
        font-size: 30px; }
      footer .copyright {
        margin-top: 25px;
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px; }
        footer .copyright a:hover {
          color: rgba(255, 255, 255, 0.7); } }

section.amazon-button {
  padding: 10px 0 20px;
  text-align: center; }

.button.amazon {
  background-image: url("../../assets/img/amazon-button.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 168px;
  height: 44px;
  display: block;
  margin: 0 auto; }
  .button.amazon:hover {
    filter: contrast(125%) brightness(123%);
    opacity: 0.9; }

@media screen and (min-width: 640px) {
  .button.amazon {
    background-image: url("../img/desktop/amazon-button.png");
    width: 27vw;
    height: 7vw; } }

@media screen and (min-width: 1000px) {
  .button.amazon {
    background-image: url("../img/desktop/amazon-button.png");
    width: 270px;
    height: 70px; } }

section.products .product {
  padding: 20px 0; }
  section.products .product h2 {
    letter-spacing: 3px; }

section.products .product-image {
  width: 70%;
  height: 50vw;
  max-height: 340px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px auto 20px; }
  section.products .product-image.cucukiwi {
    background-image: url("../img/pages/flavor/cucukiwi2.jpg"); }
  section.products .product-image.kalepine {
    background-image: url("../img/pages/flavor/kalepine2.jpg"); }

@media screen and (min-width: 640px) {
  section.products .product-image {
    height: 30vw; } }

section.box {
  font-size: 13px; }
  section.box.black {
    background-color: #000000;
    color: #ffffff; }
  section.box h3 {
    padding-bottom: 15px; }
  section.box p {
    padding-bottom: 30px; }
  section.box ul {
    padding-bottom: 20px;
    list-style: none; }
    section.box ul li {
      display: inline-block; }
      section.box ul li:after {
        content: '';
        border-right: 1px solid #ffffff;
        margin-right: 3px;
        padding-right: 6px; }
      section.box ul li:last-child:after {
        border-right: none; }
  @media screen and (min-width: 640px) {
    section.box ul {
      padding-bottom: 3vw; } }
  @media screen and (min-width: 768px) {
    section.box {
      font-size: 1.6vw; }
      section.box h3 {
        padding-bottom: 25px; }
      section.box p {
        padding-bottom: 40px; } }
  @media screen and (min-width: 1000px) {
    section.box {
      font-size: 16px; }
      section.box ul {
        padding-bottom: 30px; } }

body.modal-open {
  overflow: hidden; }

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
  display: table; }
  body.modal-open #modal {
    opacity: 1;
    pointer-events: all;
    z-index: 99997;
    background-color: rgba(0, 0, 0, 0.5); }
  #modal .container {
    display: block;
    background-color: #ffffff;
    width: calc(100% - 10px);
    max-height: calc(100vh - 10px);
    max-width: 800px;
    margin: 5px auto;
    top: 50%;
    left: 50%;
    overflow: scroll;
    z-index: 99998; }
    #modal .container .close {
      background-color: #363636;
      color: #fff;
      text-align: center;
      position: absolute;
      font-size: 120%;
      z-index: 99999;
      cursor: pointer;
      border: 1px solid #363636;
      transition-duration: 200ms;
      transition-property: color, background-color;
      width: 25px;
      margin: 3px;
      right: 5px; }
      #modal .container .close:before {
        content: "\00d7";
        display: block;
        pointer-events: none; }
      #modal .container .close:hover {
        background-color: #ffffff;
        color: #363636; }
  @media screen and (min-width: 668px) {
    #modal .product {
      width: 50%;
      float: left;
      padding: 20px;
      box-sizing: border-box; } }
  @media screen and (min-width: 668px) {
    #modal .container {
      margin: 50vh auto 5px auto;
      transform: translateY(-50%); }
      #modal .container .close {
        margin-top: 8px; } }
  #modal #modal-content {
    padding: 40px 20px 20px;
    box-sizing: border-box; }
