section {
  &.amazon-button {
    // display: none;
    padding: 10px 0 20px;
    text-align: center;
  }
}
.button.amazon {
  background-image: url('../../assets/img/amazon-button.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 168px;
  height: 44px;
  display: block;
  margin: 0 auto;
  &:hover {
    filter: contrast(125%) brightness(123%);
    opacity: 0.9;
  }
}
@media screen and (min-width: 640px) {
  .button.amazon {
    background-image: url('../img/desktop/amazon-button.png');
    width: 27vw;
    height: 7vw;
  }
}
@media screen and (min-width: 1000px) {
  .button.amazon {
    background-image: url('../img/desktop/amazon-button.png');
    width: 270px;
    height: 70px;
  }
}
