section {
  &.box {
    font-size: 13px;
    &.black {
      background-color: #000000;
      color: #ffffff;
    }
    h3 {
      padding-bottom: 15px;
    }
    p {
      padding-bottom: 30px;
    }
    ul {
      padding-bottom: 20px;
      list-style: none;
      li {
        display: inline-block;
        &:after {
          content: '';
          border-right: 1px solid #ffffff;
          margin-right: 3px;
          padding-right: 6px;
        }
        &:last-child {
          &:after {
            border-right: none;
          }
        }
      }
    }
    @media screen and (min-width: 640px) {
      ul {
        padding-bottom: 3vw;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 1.6vw;
      h3 {
        padding-bottom: 25px;
      }
      p {
        padding-bottom: 40px;
      }
    }
    @media screen and (min-width: 1000px) {
      font-size: 16px;
      ul {
        padding-bottom: 30px;
      }
    }
  }
}
