section {
  &.contact-us {
    padding: 10px 0;
    .button {
      background-image: url('../../assets/img/contact-us.jpg');
      width: 132px;
      height: 26px;
    }
    @media screen and (min-width: 768px) {
      .button {
        background-image: url('../../assets/img/desktop/contact-us.png');
        background-size: contain;
        width: 21.5vw;
        height: 4.7vw;
      }
    }
    @media screen and (min-width: 1000px) {
      .button {
        width: 250px;
        height: 55px;
      }
    }
  }
}
