section {
  &.flavors {
    padding: 30px 0;
    // background-image: url('../../assets/img/flavors-back.png');
    // background-size: contain;
    // background-repeat: repeat-x;
    background-image: url('../img/desktop/flavors-back.jpg');
    background-size: 18px 16px;
    background-repeat: repeat;
    .button {
      background-image: url('../../assets/img/learn-more.jpg');
      background-size: contain;
      width: 132px;
      height: 25px;
    }
    .flavor {
      display: block;
      width: 204px;
      height: 99px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      &.cukiwi {
        background-image: url('../../assets/img/flavor-cukiwi.jpg');
      }
      &.kalepine {
        background-image: url('../../assets/img/flavor-kalepine.jpg');
      }
    }
    > div {
      padding-bottom: 15px;
      > div {
        padding: 5px 0;
      }
    }
    @media screen and (min-width: 768px) {
      // background-image: url('../img/desktop/flavors-back.jpg');
      background-size: 21px 18px;
      // background-repeat: repeat;
      padding: 30px 0 0;
      h2 {
        transform: translateY(30px);
      }
      .button {
        background-image: url('../../assets/img/desktop/learn-more.png');
        transform: translateY(-11.25vw);
        width: 21.5vw;
        height: 4.7vw;
      }
      .flavor {
        width: 32vw;
        height: 15vw;
        &.cukiwi {
          background-image: url('../img/desktop/flavor-cukiwi.jpg');
          margin-right: 12vw;
        }
        &.kalepine {
          background-image: url('../img/desktop/flavor-kalepine.jpg');
          margin-left: 12vw;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      .button {
        transform: translateY(-125px);
        width: 250px;
        height: 55px;
      }
      .flavor {
        width: 340px;
        height: 170px;
        &.cukiwi {
          margin-right: 180px;
        }
        &.kalepine {
          margin-left: 180px;
        }
      }
    }
  }
}
