footer {
  color: #ffffff;
  height: 54px;
  width: 100vw;
  display: block;
  background-color: #000000;
  .social-icons {
    padding-top: 12px;
    width: 120px;
    margin: 0 auto;
    a {
      transition: all 200ms;
      &:hover {
        &.icon-facebook {
          color: #3b5998;
        }
        &.icon-twitter {
          color: #00aced;
        }
        &.icon-instagram {
          color: #bc2a8d;
        }
      }
    }
  }
  .copyright {
    margin-top: 10px;
    font-weight: 100;
    font-size: 10px;
  }
  @media screen and (min-width: 640px) {
    height: 100px;
    .social-icons {
      padding-top: 30px;
      width: 200px;
      font-size: 30px;
    }
    .copyright {
      margin-top: 25px;
      color: rgba(#ffffff, 0.3);
      font-size: 12px;
      a {
        &:hover {
          color: rgba(#ffffff, 0.7);
        }
      }
    }
  }
}
