@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?1j772m');
  src:  url('../../assets/fonts/icomoon.eot?1j772m#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?1j772m') format('truetype'),
    url('../../assets/fonts/icomoon.woff?1j772m') format('woff'),
    url('../../assets/fonts/icomoon.svg?1j772m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  text-align: center;
  font-family: $font1;
  font-weight: 300;
  color: $main_font;
}

body * {
  text-align: center;
}

main, section, footer {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color 200ms;
}

h1, h2, h3, h6 {
  padding-bottom: 10px;
  font-family: $font2;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  &.blue {
    color: $blue_font;
  }
  &.green {
    color: $green_font;
  }
}

h1 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 21px;
}

h6 {
  font-size: 10px;
}

p {
  padding-bottom: 10px;
}

main {
  padding-top: 47px;
}

section {
  box-sizing: border-box;
  padding: 20px;
  &.narrow > * {
    max-width: 480px;
    margin: 0 auto;
  }
  &.narrow-mobile > * {
    max-width: 280px;
    margin: 0 auto;
  }
}

.button {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 150ms;
  &:hover {
    filter: contrast(120%) brightness(102%)
  }
  &.default,
  &.inverted {
    letter-spacing: 4px;
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 10px;
    font-family: $font1;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      color: #000000;
      background-color: $green;
      border-color: $green;
    }
  }
  &.inverted {
    color: #main_font;
    border-color: $main_font;
  }
  &.bottom-spacing {
    margin-bottom: 10px;
  }
  &.buy {
    color: #000000;
    background-color: $green;
    border-color: $green;
    border-radius: 50px;
    width: 168px;
    height: 44px;
    padding: 0;
    font-size: 11px;
    &:hover {
      background-color: #ffffff;
      color: #main_font;
      border-color: $main_font;
    }
  }
}

.hidden-mobile {
  display: none;
}

@media screen and (min-width: 640px) {
  .hidden-mobile {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
  h1 {
    font-size: 4vw;
    line-height: 4.5vw;
  }
  h2 {
    font-size: 2.2vw;
  }
  h6 {
    font-size: 1.2vw;
  }
  section {
    padding: 3vw;
    &.narrow-mobile > * {
      max-width: 100%;
    }
    &.narrow-desktop > * {
      max-width: 320px;
      margin: 0 auto;
    }
  }
  .button {
    &.buy {
      width: 27vw;
      height: 7vw;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 7.2vw;
  }
  h3 {
    font-size: 2.35vw;
    line-height: 2.7vw;
  }
  ul {
    font-size: 1.56vw;
  }
  .button {
    &.default,
    &.inverted {
      min-width: 200px;
      font-size: 1.6vw;
    }
    &.buy {
      // padding: 20px 15px;
    }
  }
}

@media screen and (min-width: 1000px) {
  main {
    padding-top: 72px;
  }
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h2 {
    font-size: 22px;
  }
  h6 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  ul {
    font-size: 16px;
  }
  .button {
    &.default,
    &.inverted {
      font-size: 16px;
    }
    &.buy {
      width: 270px;
      height: 70px;
    }
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
}
