// Editable vars
$widths: 0 10 15 20 25 30 33 40 50 60 67 75;
$padds: 0 2 3 5 10 15 20 25 30 40 50 70 100;

// Grid breakpoints
$breakpoints: (
	xs: 0,
	sm: 480,
	md: 640,
	lg: 768
);

// Grid
.grid-row {
	margin-left: -10px;
	margin-right: -10px;
	// &:before,
	&:after {
		display: table;
		content: '';
		clear: both;
	}
	> [class^="col-"], > [class*=" col-"] {
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		position: relative;
		width: 100%;
	}
	@each $padd in $padds {
		&.padd-#{$padd} {
			margin-left: $padd * -1px;
			margin-right: $padd * -1px;
			> [class^="col-"], > [class*=" col-"] {
				padding-left: ($padd * 1px);
				padding-right: ($padd * 1px);
			}
		}
	}
	@each $prefix, $breakpoint in $breakpoints {
		@media screen and (min-width: #{$breakpoint + 1}px) {
			.col-#{$prefix}-third {
				width: 33.333333%;
			}
			@each $width in $widths {
				.col-#{$prefix}-#{$width} {
					width: $width * 1%;
				}
				.offset-#{$prefix}-#{$width} {
					margin-left: $width * 1%;
				}
				.push-#{$prefix}-#{$width} {
					left: $width * 1%;
				}
				.pull-#{$prefix}-#{$width} {
					right: $width * 1%;
				}
			}
		}
	}
}
