header {
  background: #000000;
  width: 100%;
  height: 47px;
  position: fixed;
  z-index: 10;
  .logo {
    background-image: url('../../assets/img/logo.jpg');
    transform: translateX(-50%);
    top: 10px;
    display: block;
    position: absolute;
    left: 50%;
    width: 166px;
    height: 27px;
  }
  .links {
    width: 75vw;
    max-width: 900px;
    margin: 0 auto;
    color: #ffffff;
    font-family: $font2;
    text-transform: uppercase;
    height: 100%;
    transform: translateX(30px);
    position: absolute;
    right: 20px;
    display: none;
    > a, .link-container {
      float: left;
      display: table;
      width: 25vw;
      max-width: 300px;
      height: 100%;
      box-sizing: border-box;
      transition: background-color 200ms;
      cursor: pointer;
      .link {
        letter-spacing: 3px;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle;
      }
      &.active {
        border-top: 8px solid $green;
        color: $green;
      }
      &:not(.active) {
        &:hover {
          color: #000000;
          background-color: $green;
        }
      }
    }
  }
  .hamburger {
    width: 36px;
    height: 28px;
    position: absolute;
    right: 0;
    padding: 10px 14px 9px;
    transition: all 200ms;
    z-index: -1;
    .line {
      margin: 4px;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      background-color: #ffffff;
      transition: all 200ms;
    }
  }
  ul {
    &.dropdown {
      position: absolute;
      opacity: 0;
      top: 7.2vw;
      transition: opacity 300ms;
      list-style: none;
      pointer-events: none;
      width: 25vw;
      max-width: 300px;
      transform: translateX(-100%);
      li {
        z-index: -10;
        background-color: #000000;
        color: white;
        transition: background-color 200ms;
        &:hover {
          background-color: $green;
        }
      }
    }
    &.menu {
      position: absolute;
      width: 276px;
      right: 0;
      top: 47px;
      list-style: none;
      background-color: #000000;
      transform: translateX(100%);
      transition: all 300ms;
      z-index: -1;
      font-family: $font2;
      text-transform: uppercase;
    }
    li {
      text-transform: uppercase;
      color: #ffffff;
      display: block;
      width: 100%;
      padding: 15px 0;
      letter-spacing: 3px;
      border-top: 1px solid #ffffff;
      cursor: pointer;
      &:first-child {
        border-top: none;
      }
      a {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }
      &.active {
        color: $green;
        border-top: 6px solid $green;
      }
    }
  }
  &.active {
    .hamburger {
      transform: translateX(-8px);
      .line {
        &:nth-child(1) {
          transform: rotate(-45deg) translateY(11px);
        }
        &:nth-child(2) {
          background-color: transparent;
        }
        &:nth-child(3) {
          transform: rotate(45deg) translateY(-11px);
        }
      }
    }
    ul.menu {
      transform: translateX(0);
    }
  }
  @media screen and (min-width: 768px) {
    ul {
      &.menu {
        display: none;
      }
    }
    .links {
      display: inline-block;
    }
    .button {
      background-image: url('../img/desktop/amazon-button-alt.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 20vw;
      height: 6.4vw;
      max-width: 200px;
      max-height: 64px;
      display: block;
      margin: 0 auto;
      right: 0;
      top: 8px;
      transition: filter 300ms;
      position: absolute;
      z-index: 10;
      &:hover {
        filter: contrast(125%) brightness(123%);
        opacity: 0.9;
      }
    }
    .has-dropdown {
      &:hover {
        ul.dropdown {
          pointer-events: all;
          opacity: 1;
          li:first-child {
            border-top: 1px solid #ffffff;
          }
        }
      }
    }
    height: 7.2vw;
    .logo {
      background-image: url('../../assets/img/desktop/logo.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 23.9vw;
      height: 3.7vw;
      top: 1.8vw;
      transform: translateX(0);
      left: 1.5vw;
    }
    .hamburger {
      display: none;
    }
  }
  @media screen and (min-width: 1000px) {
    height: 72px;
    .logo {
      background-image: url('../../assets/img/desktop/logo.jpg');
      width: 239px;
      height: 37px;
      top: 18px;
      transform: translateX(0);
      left: 15px;
    }
    ul {
      &.dropdown {
        top: 72px;
        // right: calc(((100vw - 1200px) / 2));
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .logo {
      transform: translateX(0);
      left: calc(((100vw - 1200px) / 2) + 15px);
    }
    .button {
      right: calc((100vw - 1200px) / 2);
    }
    .links {
      right: calc(((100vw - 1200px) / 2) + 30px);
    }
  }
}
