section {
  &.hero {
    background-image: url('../../assets/img/hero-background-mobile.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 71vw;
    max-height: 620px;
    .hero-text {
      padding-top: 5vw;
      font-family: $font2;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      line-height: 20px;
      h1 {
        padding-bottom: 0;
        font-size: 4.5vw;
        line-height: 5vw;
      }
      .sub {
        font-size: 3vw;
      }
    }
    @media screen and (min-width: 640px) {
      background-image: url('../img/desktop/hero.jpg');
      height: 52vw;
      .hero-text {
        padding-top: 4.5vw;
        h1 {
          padding-bottom: 0;
          font-size: 3.5vw;
          line-height: 4vw;
        }
        .sub {
          font-size: 2vw;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      .hero-text {
        padding-top: 55px;
        h1 {
          font-size: 40px;
          line-height: 45px;
        }
        .sub {
          font-size: 18px;
        }
      }
    }

    &.sub-page {
      display: table;
      width: 100%;
      .hero-text {
        padding-top: 0;
        display: table-cell;
        vertical-align: middle;
        h1 {
          font-size: 10vw;
          letter-spacing: 2vw;
        }
      }
      &.flavor {
        background-size: cover;
        background-image: url('../img/pages/flavor/hero-background.jpg');
      }

      &.contact-us {
        background-size: cover;
        background-image: url('../img/pages/contact-us/hero-background.jpg');
      }

      @media screen and (min-width: 640px) {
        background-size: contain;
        height: 28vw;
        max-height: 336px;

        &.flavor {
          background-image: url('../img/pages/flavor/desktop/hero-background.jpg');
        }
        &.contact-us {
          background-image: url('../img/pages/contact-us/desktop/hero-background.jpg');
        }
        .hero-text {
          h1 {
            font-size: 3.3vw;
            letter-spacing: 1.5vw;
          }
        }
      }

      @media screen and (min-width: 1200px) {
        .hero-text {
          h1 {
            font-size: 40px;
          }
        }
      }
    }

  }
}
