section {
  &.how-use {
    padding-bottom: 0;
    .number {
      width: 22px;
      padding: 12px;
      border-radius: 100%;
      margin: 0 auto 20px;
      &.yellow {
        background-color: $yellow;
      }
      &.green1 {
        background-color: $green1;
      }
      &.green2 {
        background-color: $green2;
      }
      &.blue {
        background-color: $blue;
      }
    }
    [class^="step-"], [class*=" step-"] {
      display: block;
      margin: 0 auto 20px;
      height: 84px;
      width: 101px;
      background-repeat: no-repeat;
      background-position: contain;
      background-position: center;
    }
    .step-1 {
      background-image: url('../../assets/img/how-use-1.png');
    }
    .step-2 {
      background-image: url('../../assets/img/how-use-2.png');
    }
    .step-3 {
      background-image: url('../../assets/img/how-use-3.png');

    }
    .step-4 {
      background-image: url('../../assets/img/how-use-4.png');
    }
    p {
      margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
      [class^="step-"], [class*=" step-"] {
        width: 142px;
        height: 117px;
      }
      .step-1 {
        background-image: url('../../assets/img/desktop/how-use-1.jpg');
      }
      .step-2 {
        background-image: url('../../assets/img/desktop/how-use-2.jpg');
      }
      .step-3 {
        background-image: url('../../assets/img/desktop/how-use-3.jpg');

      }
      .step-4 {
        background-image: url('../../assets/img/desktop/how-use-4.jpg');
      }
    }
  }
}
