body.modal-open {
  overflow: hidden;
}

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
  display: table;
  body.modal-open & {
    opacity: 1;
    pointer-events: all;
    z-index: 99997;
    background-color: rgba(0,0,0,0.5);
  }
  .container {
    display: block;
    background-color: #ffffff;
    width: calc(100% - 10px);
    max-height: calc(100vh - 10px);
    max-width: 800px;
    margin: 5px auto;
    top: 50%;
    left: 50%;
    overflow: scroll;
    z-index: 99998;
    .close {
      background-color: $main_font;
      color: #fff;
      text-align: center;
      position: absolute;
      font-size: 120%;
      z-index: 99999;
      cursor: pointer;
      border: 1px solid $main_font;
      transition-duration: 200ms;
      transition-property: color, background-color;
      width: 25px;
      margin: 3px;
      right: 5px;
      &:before {
        content: "\00d7";
        display: block;
        pointer-events: none;
      }
      &:hover {
        background-color: #ffffff;
        color: $main_font;
      }
    }
  }
  @media screen and (min-width: 668px) {
    .product {
      width: 50%;
      float: left;
      padding: 20px;
      box-sizing: border-box;
    }
  }
  @media screen and (min-width: 668px) {
    .container {
      margin: 50vh auto 5px auto;
      transform: translateY(-50%);
      .close {
        margin-top: 8px;
      }
    }
  }
  #modal-content {
    padding: 40px 20px 20px;
    box-sizing: border-box;
  }
}
