section {
  &.products {
    .product {
      padding: 20px 0;
      h2 {
        letter-spacing: 3px;
      }
    }
    .product-image {
      width: 70%;
      height: 50vw;
      max-height: 340px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 10px auto 20px;
      &.cucukiwi {
        background-image: url('../img/pages/flavor/cucukiwi2.jpg');
      }
      &.kalepine {
        background-image: url('../img/pages/flavor/kalepine2.jpg');
      }
    }

    @media screen and (min-width: 640px) {
      .product-image {
        height: 30vw;
      }
    }
  }
}
