section {
  &.table {
    .the-table {
      background-image: url('../../assets/img/table.png');
      width: 100%;
      height: calc(50vw - 40px);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      max-height: 272px;
      max-width: 554px;
      margin: 0 auto;
    }
    @media screen and (min-width: 640px) {
      .the-table {
        height: calc(50vw - 179px);
        background-image: url('../../assets/img/desktop/table.png');
        max-width: 904px;
      }
    }
  }
}
