section {
  &.sub-hero {
    padding: 20px;
    .icon {
      margin: 10px auto 5px;
      width: 39px;
      height: 39px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .gluten-free {
      background-image: url('../../assets/img/gluten-free.png');
    }
    .non-gmo {
      background-image: url('../../assets/img/non-gmo.png');
    }
    .nothing-artificial {
      background-image: url('../../assets/img/nothing-artificial.png');
    }
    .sugar-free {
      background-image: url('../../assets/img/sugar-free.png');
    }
    @media screen and (min-width: 640px) {
      padding: 3vw 12vw;
      .grid-row {
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
      }
    }
    @media screen and (min-width: 1000px) {
      padding: 50px 140px;
    }
  }
}
