$font1: 'Roboto', sans-serif;
$font2: 'Oswald', sans-serif;


// Colors
$yellow: #eeff00;
$green: #80b041;
$green1: #70f700;
$green2: #00eb56;
$green_font: #7bbd32;
$blue: #00e2ef;
$blue_font: #0d9bc1;
$main_font: #363636;
